    <h1 style="">Welcome on Fun Poll <%= @user.username %></h1>
    <p>
      You have successfully registred on Fun Poll. <br>
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to "LogIn", login_url %>
    </p>
    <p>Thanks for joining and have a great day!</p>


