<div class="container-fluid" style="padding-top: 45px;">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <h1>All poll</h1>
    <%= link_to '+ New Poll', new_poll_path, class: "btn btn-primary"%>
  </div>
    <div class="row">
        <div class="card">
          <div class="card-body">
            
          </div>
      </div>
    </div>
</div>