<div class="container-fluid">
    <% flash.each do |type, msg| %>
      <div class="alert alert-success">
        <%= msg %>
      </div>
    <% end %>
    <div class="row">
      <h1 class="text-center mt-5 text-secondary">Make your Poll easier!!</h1>
    </div>
</div>