<div class="row">
  <div class="col-6 ">
  <%= form_for options, url: poll_vote_path(@poll.id), method: :patch do |f|%>
    <%= f.submit options.vote_option, class: 'nav-link border mb-1'%>
  <% end %>  
  </div>
</div>