<div class="row">
  <div class="col-6 ">
    <a class="nav-link border">
      <%= form_with model: @poll do |form| %>
        <%= form.fields_for @options, include_id: false do |f| %>
          <%= f.text_field :vote_option %>
          <%= f.check_box :_destroy %>
        <% end %>
      <% end %>  
    </a>
  </div>
</div>