<div class="container-sm">
  <div class="row justify-content-center">
    <div class="col-4 align-self-center">
      <h1>Create your own poll.</h1>
        <%= render "new_poll_form"%>
    </div>
  </div>
</div>
